/build
/.gradle
/.idea
/target
/out
.classpath
.project
/.settings
/bin
/history
*.iml
*.ipr
*.iws
RetoBanco/.idea
RetoBanco/out
RetoBanco/target
RetoBanco/settings.gradle
RetoBanco/.gradle
target/
build/
history/
bin/
.classpath
.project
.settings/
.idea/
out/
.gradle/